<!doctype html>
<html>
<head>
    <title>H[app]Dev</title>
    <style>
        body         { padding-top:80px; }
    </style>
    <link rel="stylesheet" href="fullcalendar/dist/fullcalendar.css"/>

    <script type="text/javascript">
        window.auth = {
            google: {
                clientId: '<%= googleAuth.clientID %>',
                apiKey: '<%= googleAuth.apiKey %>',
                scope: 'profile https://www.googleapis.com/auth/calendar',
            }
        }

        // function handleGClientLoad() {
        //     gapi.client.init(window.auth.google).then(checkAuth);
        // }

        // function checkAuth() {
        //     if (gapi.auth2.getAuthInstance().isSignedIn.get()) handleAuthResult(true);
        //     else gapi.auth2.getAuthInstance().signIn().then(handleAuthResult);
        // }

        // function handleAuthResult(authResult) {
        //     console.log(gapi.auth2.getAuthInstance().currentUser.get());

        //     // Step 4: Load the Calendar API
        //     gapi.client.load('calendar', 'v3').then(function() {
        //         // Step 5: Assemble API requests
        //         var request = gapi.client.calendarList.list().then(function(res){
        //             console.dir(res.results);
        //         });
        //     });
        // }

    </script>

    <!-- jquery, moment, and angular have to get included before fullcalendar -->
    <script type="text/javascript" src="jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="moment/min/moment.min.js"></script>
    <script type="text/javascript" src="angular/angular.min.js"></script>
    <script type="text/javascript" src="angular-google-gapi/dist/angular-google-gapi.min.js"></script>
    <script type="text/javascript" src="angular-ui-calendar/src/calendar.js"></script>
    <script type="text/javascript" src="fullcalendar/dist/fullcalendar.js"></script>
    <script type="text/javascript" src="fullcalendar/dist/gcal.js"></script>
    <script type="text/javascript" src="calendar.js"></script>
    <script async defer src="https://apis.google.com/js/client.js?onload=gClientInit"></script>
</head>
<body ng-app="calendarApp">
<div class="container" ng-controller="calCtrl">
    <div ui-calendar="{googleCalendarApiKey: '<%= googleAuth.apiKey %>'}" ng-model="eventSources" calendar="todos"></div>
</div>
</body>
</html>
